<!DOCTYPE html>
<html>

<head>
    <title>About Us</title>
    <link rel="stylesheet" href="about.css">
</head>

<body>
    <header>
        <h3 class="logo">Clothing Store</h3>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about.html">About Us</a></li>
                <li><a href="/contact.html">Contact Us</a></li>
                <li><a href="/thanks.html">Thank You</a></li>

            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="about-section">
            <img src="/backgroundImage.png" alt="About Us Image">
            <div>
                <h2>About Us</h2>
                <p>Welcome to our online clothing store! We offer a wide range of trendy and fashionable clothing
                    for men, women, and kids. Our goal is to provide our customers with high-quality clothing at
                    affordable prices. With a passion for fashion and a dedication to excellent customer service, we
                    strive to make your online shopping experience enjoyable and hassle-free.</p>
                <p>At our online store, you can find the latest fashion trends, including stylish tops, dresses,
                    jeans, accessories, and more. We carefully curate our collection to offer you the best styles,
                    colors, and sizes for all occasions. Whether you're looking for casual wear, work attire, or
                    special occasion outfits, we have something for everyone.</p>
                <p>Thank you for choosing our online clothing store. We appreciate your support and look forward to
                    serving you with the latest fashion trends and exceptional customer service.</p>
            </div>
        </div>
    </div>
</body>

</html>
